.flex-container{
    outline:dotted red 2px;
    height:1000px;
    display:flex;
    justify-content: center;
    align-items: center;
}


.blue-block{
    background-color: blue;
    width: 600px;
    height: 600px;
    display:flex;
    justify-content: center;
    align-items:center;
}

.red-block{
    background-color: red;
    width: 100px;
    height: 100px;
}